<div>
  <% if @book.errors.any? %>
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form_with model: @book, url: '/books', method: :post do |f| %>
    <h4>本のタイトル</h4>
    <%= f.text_field :title %>
  </div>

  <div>
  <h4>感想</h4>
  <%= f.text_area :body %>
  <br>
  </div>
  <%= f.submit 'Create Book' %>
<% end %>

